<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vua Nối Từ</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="icon" href="{{ url_for('static', filename='Image/icon.png') }}">
  </head>
  <body>
    <div class="game-container">
      <div class="score">Score: <span id="scoreValue">{{ score }}</span></div>

      <div class="timer">Thời gian: <span id="countdown">10</span> giây</div>

      <div class="word-display" id="currentWord">
        {% if da_su_dung %} {{ da_su_dung[-1] }} {% else %} bắt đầu {% endif %}
      </div>

      <form method="POST">
        <input type="text" class="input-box" name="user_word" autofocus />
      </form>
    </div>

    <!-- Div thông báo thua -->
    {% if ket_qua %}
    <div id="toast" class="toast show">
      <div class="toast-content">
        <h2>{{ ket_qua }}</h2>
        <div class="toast-buttons">
          <button class="btn home-btn" onclick="window.location.href='/reset-session'">Trang chủ</button>
          {% if ai_thua %}
            <button class="btn continue-btn" onclick="window.location.href='/choinoitu?continue=true'">Chơi tiếp</button>
          {% else %}
            <button class="btn retry-btn" onclick="window.location.href='/choinoitu?reset=true'">Chơi lại</button>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Gán biến Flask vào thẻ span ẩn -->
    <span id="stopTimer" data-stop="{{ stop_timer | lower }}"></span>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
